* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.game_container {
	/*width: 600px;*/
	/*height: 600px;*/
	width: 900px;
	height: 900px;
	background-color: greenyellow;
}

.game_container > .game_cell:last-child:after {
	display: table;
	clear: both;
	content: "";
}

.game_cell {
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	border: 1px solid black;
}

.game_cell > i.fa-circle {
	font-size: 200px;
}

.game_cell > i.fa-times {
	font-size: 280px;
}

.game_cell > i.fa-circle,
.game_cell > i.fa-times {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.template{
	display: none;
}



