* {
	font-family: 'VT323', monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	background-color: #2f313a;
}

.game {
	width: 750px;
	height: 750px;
}

.game:after {
	display: table;
	clear: both;
	content: "";
}

.game__cell {
	position: relative;
	width: 250px;
	height: 250px;
	float: left;
}

.game__cell__circle {
	font-size: 200px;
}

.game__cell__cross {
	font-size: 280px;
}

.game__cell__circle,
.game__cell__cross {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #bdc0ca;
}

.template {
	display: none;
}

.game_status, .game_settings {
	width: 100%;
	font-size: 20px;
	padding: 20px 0;
	cursor: default;
	color: #bdc0ca;
}

.game_settings__input {
	width: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
	padding: 2px 6px;
	text-align: center;
	vertical-align: middle;
	color: #2f313a;
	border: none;
	outline: none;
	background-color: #bdc0ca;
}

.game_settings__button {
	font-size: 24px;
	margin-left: 10px;
	padding: 5px;
	vertical-align: middle;
	text-decoration: none;
	color: #bdc0ca;
}

.game_status__label, .game_settings__label, .game_status__content {
	padding-left: 10px;
	vertical-align: middle;
}

.game__cell--right_border {
	border-right: 10px solid #bdc0ca;
}

.game__cell--left_border {
	border-left: 10px solid #bdc0ca;
}

.game__cell--upper_border {
	border-top: 10px solid #bdc0ca;
}

.game__cell--lower_border {
	border-bottom: 10px solid #bdc0ca;
}

.easteregg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px;
	background-color: #2f313a;
}

.easteregg__first_line, .easteregg__second_line, .easteregg__third_line, .easteregg__fourth_line {
	font-size: 28px;
	text-transform: uppercase;
	color: #bdc0ca;
}

.easteregg__love {
	display: none;
	position: absolute;
	bottom: 30px;
	left: 50px;
	font-size: 18px;
	color: #bdc0ca;
}

.easteregg__love--red{
	font-size: 14px;
	color: red;
}





